node_modules
dist
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
.idea
.vscode
coverage
.tanstack
.cert
*.pem
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
.yarn/patches
.yarn/plugins
.yarn/releases
.yarn/versions
**/generated
**/*.generated.ts
README.md
netlify.toml



