.burger {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__icon {
        display: flex;
        width: 20px;
        height: 12px;
        flex-direction: column;
        justify-content: space-between;

        & > span {
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: var(--text-and-icon-primary);
            transform-origin: 4px 0;
        }

        & > span:first-child {
            transform-origin: center;
        }

        & > span:nth-child(3) {
            transform-origin: center;
        }
    }

    &--open {
        & > span:first-child {
            margin-bottom: 0;
            transform: translateY(5px) rotate(45deg);
        }

        & > span:nth-child(2) {
            opacity: 0;
        }

        & > span:nth-child(3) {
            transform: translateY(-5px) rotate(-45deg);
        }
    }
}
