@use './reset';
@use './variables';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-synthesis: none;
    font-variation-settings: 'slnt' 0;
    text-rendering: optimizelegibility;
}

a {
    color: var(--text-and-icon-accent);
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.map-container:focus,
.map-container:focus-visible {
    box-shadow: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

/* Firefox */
input[type='number'] {
    appearance: textfield;
}

body,
#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

// Улучшение отзывчивости кнопок на мобильных устройствах
button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}


// Example of media queries
// @media (max-width: 1440px) {
// }

// @media (max-width: 1200px) {
// }

// @media (max-width: 1024px) {
// }

// @media (max-width: 768px) {
// }
