.header-mobile {
    position: fixed;
    z-index: 1011;
    top: 0;
    display: grid;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    grid-area: header;
    grid-template:
        'prefix title postfix' 56px
        'footer footer footer' auto
        / 32px 1fr 32px;

    &__title {
        font-size: 18px;
        font-weight: 700;
        grid-area: title;
        line-height: 24px;
        text-align: center;
    }

    >* {
        position: relative;
        z-index: 2;
    }

    &::after {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        background: linear-gradient(0deg,
                rgb(255 255 255 / 0%) 0%,
                var(--background-secondary) 40%);
        content: '';
        pointer-events: none;
    }

    &__footer {
        width: 100%;
        grid-area: footer;
    }
}
