.auth-header-mobile {
    position: fixed;
    z-index: 1011;
    top: 0;
    display: grid;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #fff;
    grid-area: header;
    grid-template:
        'title postfix' 60px / 1fr 32px;

    &__title {
        font-size: 18px;
        font-weight: 700;
        grid-area: title;
        line-height: 24px;
    }

    >* {
        position: relative;
        z-index: 2;
    }
}